
<h2 class="">User Login</h2>


<form accept-charset="UTF-8" action="/login" data-remote="true" method="post" class="signup-form bg-primary">
  <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts=" />

  <label for="name" class="label">Name:</label> <br>
  <input type="text" name="Name" id="" placeholder="e.g: John"> <br>
  <button type="submit">Login</button>
</form>