<div class="page_header">
  <div class="head_image_div" style= "background-image: url(<%= votesnotnil %>)" >
    <%= renderhead %>
  </div>
  <aside class="head_aside">
    
  </aside>
</div>

<div class="article_categories">
  <%=  categories? %>
</div>