<div class="page_header">
  <div class="head_image_div">
    <!-- <img src="https://via.placeholder.com/500x500" alt=""> -->
  </div>
  <aside class="head_aside">
    <!-- <img src="https://via.placeholder.com/300x300" alt=""> -->
  </aside>
</div>

<div class="article_categories">
  <div class="category category_1">.</div>
  <div class="category category_2">.</div>
  <div class="category category_1">.</div>
  <div class="category category_2">.</div>
  <div class="category category_2">.</div>
  <div class="category category_1">.</div>
  <div class="category category_2">.</div>
  <div class="category category_1">.</div>
</div>