<form accept-charset="UTF-8" action="/signup" data-remote="true" method="post" class="signup-form">
  <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts=" />
  <%= notices? %>
  <h1 class="form_head">Welcome, <br> Register</h1>
  <input type="text" name="name" class="name_space" placeholder="New Username">
  <button type="submit" class="btn_submit">Sign up</button>
  <span>Do you have an account? <a href="/login" class="form_diff_link">Login</a></span>
</form>