/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Application Styles */

html {
  height: 100%;
}

#app_body {
  background-color: #4e433d !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.nav_bar,
footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 66px;
  align-items: center;
  width: 100%;
  background-color: white;
  margin: 0;
  padding: 0;
  z-index: 100;
}

.nav_bar {
  position: sticky;
  top: 0;
}

.brand-logo {
  color: black;
  margin: 0 0 0 15px;
  font-family: 'Russo One', sans-serif;
  font-size: 45px;
}

.brand-logo span {
  color: #eb5b02;
}

ul.nav_center {
  display: flex;
  column-gap: 30px;
  list-style: none;
  margin: 0;
}

.nav_right {
  justify-self: end;
  margin-right: 15px;
}

nav a {
  color: #8e8a86;
  text-decoration: none;
}

/* Articles' Index Styles */

.page_header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-auto-rows: 500px;
  width: 100%;
}

/* Head Image and Sidebar */

.head_image_div {
  background: center no-repeat;
  background-size: cover;
  position: relative;
  border-top: 3px solid #eb5b02;
}

.head_inside {
  position: absolute;
  bottom: 0;
  padding: 0 20px;
}

.head_image_title,
.head_image_title:hover {
  color: #eb5b02;
  font-weight: bolder;
  text-decoration: none;
  font-size: 20px;
}

.head_image_text {
  color: white;
}

.head_aside {
  /* background: #000; */
}

.article_categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
}

.category,
.art_img,
.category:hover {
  background: center no-repeat;
  background-size: cover;
  position: relative;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-weight: bold;
}

.category_title,
.recent_title {
  color: white;
}

.category_title {
  width: max-content;
  border-bottom: 2px solid yellow;
}

.recent_title {
  position: absolute;
  bottom: 0;
}

/* Write an Article */

#new_art_form {
  height: max-content;
  width: 310px;
  align-items: center;
  padding: 60px 30px;
  margin-top: 5%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

#art_head {
  font-weight: bold;
}

#art_title_space,
#art_body_space {
  outline: none;
}

#art_title_space {
  border: 0.5px solid #eb5b02;
  width: 250px;
  height: 35px;
  margin-bottom: 15px;
}

#art_body_space {
  border: 1px solid #eb5b02;
  width: 250px;
  height: 100px;
}

#art-select,
#select-field {
  width: 100%;
}

/* Footer */

footer {
  grid-auto-rows: 50px;
  background: #4e433d;
  color: white;
  grid-template-columns: 1fr 2fr 1fr;
  margin-top: auto !important;
  border-top: 1px solid white;
}

.foot_logo {
  color: white;
}

.footer_center {
  margin: 0;
}

.footer_center a {
  text-decoration: none;
  color: orangered;
}

/* Show Categories */

.cat_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 400px;
}

.cat_article {
  background: white;
  color: black;
  padding: 20px;
}

.art_img {
  content: "";
}

.art_title {
  color: #fc9d01;
  border-bottom: 2px solid #fc9d01;
  width: fit-content;
  font-weight: bold;
}

/* New Category */

.priority_field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.cat_priority {
  width: 15px;
  height: 15px;
}

#priority_2 {
  width: 20px;
  height: 20px;
}

#priority_3 {
  width: 25px;
  height: 25px;
}

nav a:hover {
  text-decoration: none;
  color: #eb5b02;
}
